.flex-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.crop {
  flex-shrink: 0;
  max-width: 18rem;
  height: 12rem;
  overflow: hidden;
}

.crop img {
  width: 22rem;
  height: auto;
  margin: -5rem 0 0 -2rem;
  object-fit: cover;
}

.form-box {
  max-width: 42rem;
  margin-top: 2rem;
  padding: 1.5rem 2rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  border-bottom-width: 1px;
}

#input-form .header h1 {
  margin-left: 3rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  letter-spacing: 0.05em;
}

#input-form {
  display: flex;
  flex-direction: column;
}

#input-form textarea {
  padding: 0.25rem;
  margin: 1rem 0;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  font-size: 1rem;
  resize: none;
}

#input-form .button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

#input-form input[type="submit"] {
  border-radius: 0.25rem;
  border-color: #ffffff;
  color: #ffffff;
  background-color: #3b82f6;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
}
