:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* For Mobile */
@media screen and (min-width: 0px) {
  html {
    font-size: 8px;
  }

  .ads-portrait {
    display: flex;
  }

  :is(.ads-left, .ads-right) {
    display: none;
  }
}

/* For Tablet */
@media screen and (min-width: 640px) {
  html {
    font-size: 12px;
  }
}

/* For Others */
@media screen and (min-width: 1024px) {
  html {
    font-size: 16px;
  }

  .ads-portrait {
    display: none;
  }

  :is(.ads-left, .ads-right) {
    display: block;
  }

  #main {
    width: 55vw;
  }
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-size: 1rem;
  padding-bottom: 2rem;
}

.ads-left {
  position: fixed;
  top: 1vh;
  left: 2vh;
  bottom: 1vh;
  border-radius: 15px;
  border: 1px solid rgb(231, 122, 122);
}

.ads-right {
  position: fixed;
  top: 1vh;
  right: 2vh;
  bottom: 1vh;
  border-radius: 15px;
  border: 1px solid rgb(231, 122, 122);
}

.ads-landscape {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  padding: 1rem 0;
}

.ads-landscape h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 1rem;
  margin-bottom: 3rem;
  padding: 0.5rem;
  width: 100%;
  background-color: rgb(231, 122, 122);
  color: white;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 9px;
}

.ads-landscape img {
  width: 90%;
  opacity: 90%;
  border-radius: 5px;
}

.ads-portrait {
  flex-direction: row;
  align-items: center;
  height: 20rem;
  width: 40rem;
  margin: 0 auto;
  margin-top: 1rem;
  background: #ffffff26;
  border-radius: 15px;
}

.ads-portrait h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: rgb(231, 122, 122);
  margin-right: 1rem;
  width: 30%;
  color: white;
  text-align: center;
  border-radius: 9px;
  height: 80%;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ads-portrait img {
  width: 70%;
  opacity: 90%;
  border-radius: 5px;
}

#main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main .box {
  margin: 0 1rem;
  margin-top: 4rem;
  padding: 1.5rem 2rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  border-bottom-width: 1px;
}

#student-input-form .top-header {
  text-align: center;
  margin: 1rem 0;
  font-size: 2rem;
}

#student-input-form .header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#student-input-form .header .crop {
  flex-shrink: 0;
  max-width: 12rem;
  height: 8rem;
  overflow: hidden;
}

#student-input-form .header .crop img {
  width: 16rem;
  height: auto;
  margin: -4rem 0 0 -2rem;
  object-fit: cover;
}

#student-input-form .header h1 {
  margin-left: 3rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  letter-spacing: 0.05em;
}

#student-input-form .grid {
  display: grid;
  margin-top: 1.25rem;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

#student-input-form .grid label {
  grid-column: span 2;
  padding: 1rem 0;
}

#student-input-form .grid input[type="text"] {
  grid-column: span 6;
  margin: 0.5rem 0;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  font-size: 1rem;
}

#student-input-form .button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

#student-input-form input[type="submit"] {
  border-radius: 0.25rem;
  border-color: #ffffff;
  color: #ffffff;
  background-color: #3b82f6;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
}

#sign-language-img .student-info {
  margin: 1.5rem 0rem;
  text-align: center;
  font-size: 1.8rem;
}

#sign-language-img .flex-box {
  max-width: max-content;
  margin: 0 1rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

#sign-language-img .sign-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sign-language-img img {
  width: 8rem;
  height: auto;
  object-fit: cover;
}

#sign-language-img p {
  text-align: center;
  font-size: 1.2rem;
  margin: 0.5rem 0;
}
